@model Movys.Web.ViewModels.Profiles.ListingFavoriteMoviesViewModel

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>@User.Identity.Name’s profile</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="\">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Favorite movies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single userfav_list">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-img">
                        @await Html.PartialAsync("_ChangeAvatarPartial", Model.AvatarViewModel)
                    </div>
                    <div class="user-fav">
                        <p>Account Details</p>
                        <ul>
                            <li><a asp-controller="Profiles" asp-action="UserProfile">Profile</a></li>
                            <li class="active"><a>Favorite movies</a></li>
                            <li><a asp-controller="Profiles" asp-action="UserRating">Rated movies</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Others</p>
                        <ul>
                            <li><a asp-controller="Profiles" asp-action="UserProfile">Change password</a></li>
                            <li><a asp-controller="Users" asp-action="Logout">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="topbar-filter user">
                    <p>Found <span>@Model.MoviesCount movies</span> in total</p>
                    <a href="userfavoritelist.html" class="list"><i class="ion-ios-list-outline active"></i></a>
                    <a href="userfavoritegrid.html" class="grid"><i class="ion-grid "></i></a>
                </div>
                <div class="flex-wrap-movielist user-fav-list">
                    @foreach (var movie in Model.Movies)
                    {
                        <div class="movie-item-style-2">
                            <img src="@movie.MovieImageUrl" style="width:170px;height:260px;"  alt="">
                            <div class="mv-item-infor">
                                <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.MovieId">@movie.MovieTitle<span>(@movie.MovieReleaseYear)</span></a></h6>
                                <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                <p class="describe">@movie.MovieDescription...</p>
                                <p>Director: <a href="#">Joss Whedon</a></p>
                                <p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#">  Chris Hemsworth</a></p>
                            </div>
                        </div>
                    }
                </div>
                <ul class="pagination">
                    <li class="icon-prev"><a asp-action="UserFavouriteList" asp-route-pageNumber="@(Model.CurrentPage - 1)"><i class="ion-ios-arrow-left"></i></a></li>
                    @for (int i = 1; i <= Model.PagesCount; i++)
                    {
                        if (Model.CurrentPage == i)
                        {
                            <li class="active"><a asp-action="UserFavouriteList" asp-route-pageNumber="@i">@i</a></li>
                        }
                        else
                        {
                            <li><a asp-action="UserFavouriteList" asp-route-pageNumber="@i">@i</a></li>
                        }
                    }
                    <li class="icon-next"><a asp-action="UserFavouriteList" asp-route-pageNumber="@(Model.CurrentPage + 1)"><i class="ion-ios-arrow-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>