@using Movys.Common
@model Movys.Web.ViewModels.Home.HomePageViewModel

<div class="slider movie-items">
    <div class="container">
        <div class="row">
            <div class="social-link">
                <p>Follow us: </p>
                <a href="#"><i class="ion-social-facebook"></i></a>
                <a href="#"><i class="ion-social-twitter"></i></a>
                <a href="#"><i class="ion-social-googleplus"></i></a>
                <a href="#"><i class="ion-social-youtube"></i></a>
            </div>
            <div class="slick-multiItemSlider">
                @foreach (var movie in Model.MostPopularMovies)
                {
                    <div class="movie-item">
                        <div class="mv-img">
                            <a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id"><img src="@movie.ImageUrl" alt="" width="285" height="437"></a>
                        </div>
                        <div class="title-in">
                            <div class="cate">
                                @foreach (var genre in movie.Genres)
                                {
                                    <span class="green"><a asp-controller="Search" asp-action="Result" asp-route-genre="@genre.GenreId">@genre.GenreName</a></span>
                                }
                            </div>
                            <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id">@movie.Title</a></h6>
                            <p><i class="ion-android-star"></i><span>@movie.Rating</span> /10</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="movie-items">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8">
                <div class="title-hd">
                    <h2>in theater</h2>
                    <a asp-controller="Movies" asp-action="Listing" asp-route-crit="popularity" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <ul class="tab-links">
                        <li class="active"><a href="#tab1">#Popular</a></li>
                        <li><a href="#tab2"> #Coming soon</a></li>
                        <li><a href="#tab3">  #Top rated  </a></li>
                        <li><a href="#tab4"> #Most reviewed</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem">
                                    @foreach (var movie in Model.MostPopularMovies)
                                    {
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="@movie.ImageUrl" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id">@movie.Title</a></h6>
                                                    <p><i class="ion-android-star"></i><span>@movie.Rating</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    @foreach (var movie in Model.ComingSoonMovies)
                                    {
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="@movie.ImageUrl" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id">@movie.Title</a></h6>
                                                    <p><i class="ion-android-star"></i><span>@movie.Rating</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="tab3" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    @foreach (var movie in Model.TopRatedMovies)
                                    {
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="@movie.ImageUrl" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id">@movie.Title</a></h6>
                                                    <p><i class="ion-android-star"></i><span>@movie.Rating</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="tab4" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    @foreach (var movie in Model.MostReviewedMovies)
                                    {
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="@movie.ImageUrl" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id">@movie.Title</a></h6>
                                                    <p><i class="ion-android-star"></i><span>@movie.Rating</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title-hd">
                    <h2>on tv</h2>
                    <a asp-controller="Movies" asp-action="Listing" asp-route-crit="rating" class="viewall">View all <i class="ion-ios-arrow-right"></i></a>
                </div>
                <div class="tabs">
                    <ul class="tab-links-2">
                        <li><a href="#tab21">#Popular</a></li>
                        <li class="active"><a href="#tab22"> #Coming soon</a></li>
                        <li><a href="#tab23">  #Top rated  </a></li>
                        <li><a href="#tab24"> #Most reviewed</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab21" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    @foreach (var item in Model.MostPopularMovies)
                                    {
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="@item.ImageUrl" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a asp-controller="Movies" asp-action="ById" asp-route-id="@item.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@item.Id">@item.Title</a></h6>
                                                    <p><i class="ion-android-star"></i><span>@item.Rating</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="tab22" class="tab active">
                            <div class="row">
                                <div class="slick-multiItem">
                                    @foreach (var item in Model.ComingSoonMovies)
                                    {
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="@item.ImageUrl" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a asp-controller="Movies" asp-action="ById" asp-route-id="@item.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@item.Id">@item.Title</a></h6>
                                                    <p><i class="ion-android-star"></i><span>@item.Rating</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="tab23" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    @foreach (var item in Model.TopRatedMovies)
                                    {
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="@item.ImageUrl" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a asp-controller="Movies" asp-action="ById" asp-route-id="@item.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@item.Id">@item.Title</a></h6>
                                                    <p><i class="ion-android-star"></i><span>@item.Rating</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="tab24" class="tab">
                            <div class="row">
                                <div class="slick-multiItem">
                                    @foreach (var item in Model.MostReviewedMovies)
                                    {
                                        <div class="slide-it">
                                            <div class="movie-item">
                                                <div class="mv-img">
                                                    <img src="@item.ImageUrl" alt="" width="185" height="284">
                                                </div>
                                                <div class="hvr-inner">
                                                    <a asp-controller="Movies" asp-action="ById" asp-route-id="@item.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                </div>
                                                <div class="title-in">
                                                    <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@item.Id">@item.Title</a></h6>
                                                    <p><i class="ion-android-star"></i><span>@item.Rating</span> /10</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="ads">
                        <img src="images/uploads/ads1.png" alt="" width="336" height="296">
                    </div>
                    <div class="celebrities">
                        <h4 class="sb-title">Spotlight Celebrities</h4>
                        @foreach (var celebrity in Model.Celebrities)
                        {
                            <div class="celeb-item">
                                <a asp-controller="Celebs" asp-action="ById" asp-route-id="@celebrity.Id"><img src="@celebrity.ImageUrl" alt="" width="70" height="70"></a>
                                <div class="celeb-author">
                                    <h6><a asp-controller="Celebs" asp-action="ById" asp-route-id="@celebrity.Id">@celebrity.Name</a></h6>
                                    <span>@string.Join(", ", celebrity.Movies.Select(x => x.RoleType).Distinct())</span>
                                </div>
                            </div>
                        }
                        <a asp-controller="Celebs" asp-action="ListingMostPopular" class="btn">See all celebrities<i class="ion-ios-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- latest new v1 section-->
<div class="latestnew">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8">
                <div class="ads">
                    <img src="images/uploads/ads2.png" alt="" width="728" height="106">
                </div>
                <div class="title-hd">
                    <h2>Latest news</h2>
                </div>
                <div class="tabs">
                    <ul class="tab-links-3">
                        <li class="active"><a href="#tab31">#Movies </a></li>
                        <li><a href="#tab32"> #TV Shows </a></li>
                        <li><a href="#tab33">  # Celebs</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab31" class="tab active">
                            <div class="row">
                                <div class="blog-item-style-1">
                                    <img src="@Model.News.First().ImageUrl" alt="" width="170" height="250">
                                    <div class="blog-it-infor">
                                        <h3><a asp-controller="News" asp-action="ById" asp-route-id="@Model.News.First().Id">@Model.News.First().Title</a></h3>
                                        <span class="time">@DateTimeConverter.HoursDiffrence(Model.News.First().CreatedOn) hours ago</span>
                                        <p>@Model.News.First().ShortDescription</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab32" class="tab">
                            <div class="row">
                                <div class="blog-item-style-1">
                                    <img src="@Model.News.First().ImageUrl" alt="" width="170" height="250">
                                    <div class="blog-it-infor">
                                        <h3><a asp-controller="News" asp-action="ById" asp-route-id="@Model.News.First().Id">@Model.News.First().Title</a></h3>
                                        <span class="time">@DateTimeConverter.HoursDiffrence(Model.News.First().CreatedOn) hours ago</span>
                                        <p>@Model.News.First().ShortDescription</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab33" class="tab">
                            <<div class="row">
                                <div class="blog-item-style-1">
                                    <img src="@Model.News.First().ImageUrl" alt="" width="170" height="250">
                                    <div class="blog-it-infor">
                                        <h3><a asp-controller="News" asp-action="ById" asp-route-id="@Model.News.First().Id">@Model.News.First().Title</a></h3>
                                        <span class="time">@DateTimeConverter.HoursDiffrence(Model.News.First().CreatedOn) hours ago</span>
                                        <p>@Model.News.First().ShortDescription</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="morenew">
                    <div class="title-hd">
                        <h3>More news on Blockbuster</h3>
                        <a asp-controller="News" asp-action="Listing" class="viewall">See all Movies news<i class="ion-ios-arrow-right"></i></a>
                    </div>
                    <div class="more-items">
                        <div class="left">
                            @foreach (var item in Model.News.Skip(1).Take(2))
                            {
                                <div class="more-it">
                                    <h6><a asp-controller="News" asp-action="ById" asp-route-id="@item.Id">@item.Title</a></h6>
                                    <p><span class="time">@item.ShortDescription</span></p>
                                    <span class="time">@DateTimeConverter.HoursDiffrence(item.CreatedOn) hours ago</span>
                                </div>
                            }
                        </div>
                        <div class="right">
                            @foreach (var item in Model.News.Skip(3))
                            {
                                <div class="more-it">
                                    <h6><a asp-controller="News" asp-action="ById" asp-route-id="@item.Id">@item.Title</a></h6>
                                    <p><span class="time">@item.ShortDescription</span></p>
                                    <span class="time">@DateTimeConverter.HoursDiffrence(item.CreatedOn) hours ago</span>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="sb-facebook sb-it">
                        <h4 class="sb-title">Find us on Facebook</h4>
                        <iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=300&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="300" height="315" style="border:none;overflow:hidden"></iframe>
                    </div>
                    <div class="sb-twitter sb-it">
                        <h4 class="sb-title">Tweet to us</h4>
                        <div class="slick-tw">
                            <div class="tweet item" id="">
                                <!-- Put your twiter id here -->
                            </div>
                            <div class="tweet item" id="">
                                <!-- Put your 2nd twiter account id here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end of latest new v1 section-->