@using Movys.Common
@model Movys.Web.ViewModels.News.SingleNewsViewModel


<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> blog detail</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="/">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> blog listing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog detail section-->
<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="blog-detail-ct">
                    <h1>@Model.Title</h1>
                    <span class="time">@Model.CreatedOn.ToString(GlobalConstants.DateTimeFormat)</span>
                    <p><img src="@Model.ImageUrl" alt=""></p>
                    <p>@Model.Content</p>
                    <!-- share link -->
                    <div class="flex-it share-tag">
                        <div class="social-link">
                            <h4>Share it</h4>
                            <a href="#"><i class="ion-social-facebook"></i></a>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                            <a href="#"><i class="ion-social-googleplus"></i></a>
                            <a href="#"><i class="ion-social-pinterest"></i></a>
                            <a href="#"><i class="ion-social-linkedin"></i></a>
                        </div>
                        <div class="right-it">
                            <h4>Tags</h4>
                            <a href="#">Gray,</a>
                            <a href="#">Film,</a>
                            <a href="#">Poster</a>
                        </div>
                    </div>
                    <!-- comment items -->
                    <div class="comments">
                        <h4>@Model.Comments.Count() Comments</h4>
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="cmt-item flex-it">
                                <img src="data:image/png;base64, @(comment.Avatar??string.Empty)" style="width:70px; height:70px;" alt="">
                                <div class="author-infor">
                                    <div class="flex-it2">
                                        <h6><a href="#">@comment.UserUserName</a></h6> <span class="time"> - @comment.CreatedOn.ToString(GlobalConstants.DateTimeFormat)</span>
                                    </div>
                                    <p>@comment.Content</p>
                                </div>
                            </div>
                        }
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <div class="comment-form">
                        <h4>Leave a comment</h4>
                        <form asp-controller="News" asp-action="CreateComment" asp-route-newsId="@Model.Id" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea asp-for="CommentInputModel.Content" name="content" placeholder="Message" required="required"></textarea>
                                    <span asp-validation-for="CommentInputModel.Content"></span>
                                </div>
                            </div>
                            <input class="submit" type="submit" placeholder="submit">
                        </form>
                    </div>
                    }
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="sb-search sb-it">
                        <h4 class="sb-title">Search</h4>
                        @await Html.PartialAsync("_NewsSearchFormPartial", Model.NewsSearchInputModel)
                    </div>
                    <div class="sb-cate sb-it">
                        <h4 class="sb-title">Categories</h4>
                        <ul>
                            <li><a asp-action="Result" asp-route-category="1">Awards (50)</a></li>
                            <li><a asp-action="Result" asp-route-category="2">Film reviews (72)</a></li>
                            <li><a asp-action="Result" asp-route-category="3">Global (45)</a></li>
                            <li><a asp-action="Result" asp-route-category="4">Celebrity News (06)</a></li>
                        </ul>
                    </div>
                    <div class="sb-tags sb-it">
                        <h4 class="sb-title">tags</h4>
                        <ul class="tag-items">
                            @foreach (var tag in Model.Tags)
                            {
                                <li><a heref="#">@tag.TagName</a></li>

                            }
                            <li><a href="#">film</a></li>
                            <li><a href="#">homeland</a></li>
                            <li><a href="#">Fast & Furious</a></li>
                            <li><a href="#">Dead Walker</a></li>
                            <li><a href="#">King</a></li>
                            <li><a href="#">Beauty</a></li>
                        </ul>
                    </div>
                    <div class="ads">
                        <img src="images/uploads/ads1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    
</script>