
@model Movys.Web.ViewModels.Celebs.ListingCelebsViewModel

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1>celebrity listing - list</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="/">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> celebrity listing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- celebrity list section-->
<div class="page-single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p class="pad-change">Found <span>@Model.CelebsCount celebrities</span> in total</p>
                </div>
                <div class="row">
                    @foreach (var cast in Model.CastMembers)
                    {
                        <div class="col-md-12">
                            <div class="ceb-item-style-2">
                                <img src="@cast.ImageUrl" style="width:100px;height:130px;" alt="">
                                <div class="ceb-infor">
                                    <h2><a asp-controller="Celebs" asp-action="ById" asp-route-id="@cast.Id">@cast.Name</a></h2>
                                    <span>@string.Join(", ", cast.Movies.Select(x => x.RoleType)), @cast.CountryBornIn</span>
                                    <p>@cast.Description ... </p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <ul class="pagination">
                    <li class="icon-prev"><a asp-action="ListingMostPopular" asp-route-pageNumber="@(Model.CurrentPage - 1)"><i class="ion-ios-arrow-left"></i></a></li>
                    @for (int i = 1; i <= Model.PagesCount; i++)
                    {
                        if (Model.CurrentPage == i)
                        {
                            <li class="active"><a asp-action="ListingMostPopular" asp-route-pageNumber="@i">@i</a></li>
                        }
                        else
                        {
                            <li><a asp-action="ListingMostPopular" asp-route-pageNumber="@i">@i</a></li>
                        }
                    }
                    <li class="icon-next"><a asp-action="ListingMostPopular" asp-route-pageNumber="@(Model.CurrentPage + 1)"><i class="ion-ios-arrow-right"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-12 col-sm-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Search celebrity</h4>
                        @await Html.PartialAsync("_CelebsSearchFormPartial", Model.SearchInputModel)
                    </div>
                    <div class="ads">
                        <img src="images/uploads/ads1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>