    @using Movys.Common
@using Movys.Data.Models
@model Movys.Web.ViewModels.Movies.SingleMovieViewModel


<div class="hero mv-single-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img width="200" height="200" src="@Model.ImageUrl" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="@Model.TrailerUrl" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
                            <div><a href="@Model.TrailerUrl" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">@Model.Title <span>@Model.ReleaseYear</span></h1>

                    <div class="social-btn">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post">
                                <a onclick="addToFavorite()" id="favourite" class="parent-btn">
                                    @if (Model.IsAddedToFavorite)
                                    {
                                        <i class="ion-heart"></i><span>Added</span>
                                    }
                                    else
                                    {
                                        <i class="ion-ios-heart-outline"></i><span>Add to favourite</span>
                                    }
                                </a>
                            </form>
                        }
                        <div class="hover-bnt">
                            <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                            <div class="hvr-item">
                                <a href="https://www.facebook.com/sharer/sharer.php?" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                <a href="https://twitter.com/intent/tweet?" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                <a href="https://plus.google.com/share?" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p>
                                <span>@Math.Round(Model.Rating)</span> /10<br>
                                <span class="rv">@Model.ReviewsCount Reviews</span>
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Rate This Movie:  </p>
                            @for (int i = 1; i <= 10; i++)
                            {
                                if (i <= @Model.Rating)
                                {
                                    <i class="ion-ios-star"></i>
                                }
                                else
                                {
                                    <i class="ion-ios-star-outline"></i>
                                }
                            }
                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Overview</a></li>
                                <li><a href="#reviews"> Reviews</a></li>
                                <li><a href="#cast">  Cast & Crew </a></li>
                                <li><a href="#moviesrelated"> Related Movies</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>@Model.Description</p>
                                            <div class="title-hd-sm">
                                                <h4>cast</h4>
                                                <a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">
                                                @foreach (var castMember in Model.CastMembers.Where(x => x.RoleType == RoleType.Actor))
                                                {
                                                    <div class="cast-it">
                                                        <div class="cast-left">
                                                            <img width="40" height="40" src="@castMember.CastMemberImageUrl" alt="">
                                                            <a asp-controller="Celebs" asp-action="ById" asp-route-id="@castMember.CastMemberId">@castMember.CastMemberName</a>
                                                        </div>
                                                        <p>...  @castMember.RoleName</p>
                                                    </div>
                                                }
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>User reviews</h4>
                                                <a href="#reviews" class="time">See All @Model.ReviewsCount Reviews <i class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <!-- movie user review -->
                                            @if (Model.MostRecentReview != null)
                                            {
                                            <div class="mv-user-review-item">
                                                <h3>@Model.MostRecentReview.Title</h3>
                                                <div class="no-star">
                                                    @for (int i = 1; i <= 10; i++)
                                                    {
                                                        if (i <= Model.MostRecentReview.Rating)
                                                        {
                                                            <i class="ion-android-star"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="ion-android-star last"></i>
                                                        }
                                                    }
                                                </div>
                                                <p class="time">
                                                    @Model.MostRecentReview.CreatedOn.ToString(GlobalConstants.DateTimeFormat) by <a href="#"> @Model.MostRecentReview.UserUserName</a>
                                                </p>
                                                <p>@Model.MostRecentReview.Content</p>
                                            </div>
                                            }
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Director: </h6>
                                                <p>
                                                    @foreach (var director in Model.CastMembers.Where(x => x.RoleType == RoleType.Director))
                                                    {
                                                        <a asp-controller="Celebs" asp-action="ById" asp-route-id="@director.CastMemberId">@director.CastMemberName,</a>
                                                    }
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Writer: </h6>
                                                <p>
                                                    @foreach (var writer in Model.CastMembers.Where(x => x.RoleType == RoleType.Writer))
                                                    {
                                                        <a asp-controller="Celebs" asp-action="ById" asp-route-id="@writer.CastMemberId">@writer.CastMemberName,</a>

                                                    }
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Stars: </h6>
                                                <p>
                                                    @foreach (var actor in Model.CastMembers.Where(x => x.RoleType == RoleType.Actor))
                                                    {
                                                        <a asp-controller="Celebs" asp-action="ById" asp-route-id="@actor.CastMemberId">@actor.CastMemberName,</a>
                                                    }
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Genres:</h6>
                                                <p>
                                                    @foreach (var genre in Model.Genres)
                                                    {
                                                        <a asp-controller="Movies" asp-action="Result" asp-route-crit="rating" asp-route-genre="@genre.GenreId">@genre.GenreName,</a>
                                                    }
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Release Date:</h6>
                                                <p>@Model.ReleaseYear</p>
                                            </div>
                                            @if (Model.Runtime != null)
                                            {
                                                <div class="sb-it">
                                                    <h6>Run Time:</h6>
                                                    <p>@Model.Runtime min</p>
                                                </div>
                                            }
                                            @if (Model.Country != null)
                                            {
                                                <div class="sb-it">
                                                    <h6>Country:</h6>
                                                    <p>@Model.Country</p>
                                                </div>
                                            }
                                            <div class="ads">
                                                <img src="~/images/uploads/ads1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="reviews" class="tab review">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div class="div">
                                                <h3>Related Movies To</h3>
                                                <h2>@Model.Title</h2>
                                            </div>

                                        </div>
                                        <div class="topbar-filter">
                                            <p>Found <span>@Model.ReviewsCount reviews</span> in total</p>
                                        </div>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                        <div class="mv-user-review-item">
                                            <form method="post">
                                                <div class="user-infor">
                                                    <img src="data:image/png;base64, @(Model.CurrentUserAvatar??string.Empty)" style="width:45px;height:45px;" alt="">
                                                    <div>
                                                        <div class="review-content">
                                                            <input id="reviewTitleInput" type="text" placeholder="Title" required="required">
                                                        </div>
                                                        <br />
                                                        <div class="no-star">
                                                            Rate: <i class="ion-android-star"></i>
                                                        </div>
                                                        <div class="review-content">
                                                            <input id="reviewRatingInput" type="number" max="10" min="1" value="1" />
                                                        </div>
                                                        <p class="time">
                                                            Logged as <a asp-controller="Profiles" asp-action="UserProfile"> @User.Identity.Name</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="review-content">
                                                    <p>
                                                        <textarea class="form-control" id="reviewContentInput" asp-for="ReviewFormInputModel.Content" rows="4" placeholder="Write a review" required="required"></textarea>
                                                    </p>
                                                </div>

                                                <p>
                                                    <div class="btn pull-right">
                                                        <button class="redbtn" type="button" onclick="AddReview()">Write Review</button>
                                                    </div>
                                                </p>
                                                <br />
                                                <br />
                                            </form>
                                        </div>
                                        }
                                        <div id="reviewListing">
                                        @foreach (var review in Model.Reviews)
                                        {
                                            <div class="mv-user-review-item">
                                                <div class="user-infor">
                                                    <img src="data:image/png;base64, @(review.UserAvatar??string.Empty)" style="width:45px;height:45px;" alt="">
                                                    <div>
                                                        <h3>@review.Title</h3>
                                                        <div class="no-star">
                                                            @for (int i = 1; i <= 10; i++)
                                                            {
                                                                if (i <= review.Rating)
                                                                {
                                                                    <i class="ion-android-star"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="ion-android-star last"></i>
                                                                }
                                                            }
                                                        </div>
                                                        <p class="time">
                                                            @review.CreatedOn.ToString(GlobalConstants.DateTimeFormat) by <a href="#"> @review.UserUserName</a>
                                                        </p>
                                                    </div>
                                                </div>
                                                <p>@review.Content</p>
                                            </div>
                                        }
                                        </div>
                                    </div>
                                </div>
                                <div id="cast" class="tab">
                                    <div class="row">
                                        <h3>Cast & Crew of</h3>
                                        <h2>@Model.Title</h2>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Directors</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            @foreach (var director in Model.CastMembers.Where(x => x.RoleType == RoleType.Director))
                                            {
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <img width="40" height="40" src="@director.CastMemberImageUrl" alt="" />
                                                        <a asp-controller="Celebs" asp-action="ById" asp-route-id="@director.CastMemberId">@director.CastMemberName</a>
                                                    </div>
                                                    <p>...  Director</p>
                                                </div>
                                            }
                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Writers</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            @foreach (var writer in Model.CastMembers.Where(x => x.RoleType == RoleType.Writer))
                                            {
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <img width="40" height="40" src="@writer.CastMemberImageUrl" alt=""/>
                                                        <a asp-controller="Celebs" asp-action="ById" asp-route-id="@writer.CastMemberId">@writer.CastMemberName</a>
                                                    </div>
                                                    <p>...  @writer.RoleName</p>
                                                </div>
                                            }
                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Actors</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            @foreach (var actor in Model.CastMembers.Where(x => x.RoleType == RoleType.Actor))
                                            {
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <img width="40" height="40" src="@actor.CastMemberImageUrl" alt="">
                                                        <a asp-controller="Celebs" asp-action="ById" asp-route-id="@actor.CastMemberId">@actor.CastMemberName</a>
                                                    </div>
                                                    <p>...  @actor.RoleName</p>
                                                </div>
                                            }
                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Produced by</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            @foreach (var producer in Model.CastMembers.Where(x => x.RoleType == RoleType.Producer))
                                            {
                                                <div class="cast-it">
                                                    <div class="cast-left">
                                                        <img width="40" height="40" src="@producer.CastMemberImageUrl" alt=""/>
                                                        <a asp-controller="Celebs" asp-action="ById" asp-route-id="@producer.CastMemberId">@producer.CastMemberName</a>
                                                    </div>
                                                    <p>...  @producer.RoleName</p>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div id="moviesrelated" class="tab">
                                    <div class="row">
                                        <h3>Related Movies To</h3>
                                        <h2>@Model.Title</h2>
                                        <div class="topbar-filter">
                                            <p>Found <span>@Model.RelatedMovies.Count() movies</span> in total</p>
                                        </div>
                                        @foreach (var movie in Model.RelatedMovies)
                                        {
                                            <div class="movie-item-style-2">
                                                <img src="@movie.ImageUrl" style="width:170px;height:260px;" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id">@movie.Title <span>(@movie.ReleaseYear)</span></a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>@movie.Rating</span> /10</p>
                                                    <p class="describe">@movie.Description...</p>
                                                    <p>
                                                        Director:
                                                        @foreach (var item in movie.CastMembers.Where(x => x.RoleType == RoleType.Director))
                                                        {
                                                            <a asp-controller="Movies" asp-action="ById" asp-route-id="@item.CastMemberId">@item.CastMemberName,</a>
                                                        }
                                                    </p>
                                                    <p>
                                                        Stars:
                                                        @foreach (var item in movie.CastMembers.Where(x => x.RoleType == RoleType.Actor))
                                                        {
                                                            <a asp-controller="Movies" asp-action="ById" asp-route-id="@item.CastMemberId">@item.CastMemberName,</a>
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var isAdded = '@(Model.IsAddedToFavorite)';

    function addToFavorite() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                if (isAdded == 'True') {
                    document.getElementById("favourite").innerHTML = '<i class="ion-ios-heart-outline"></i><span>Add to favourite</span>';
                    isAdded = 'False';
                    SuccessAlert('Movie removed sucessfully')
                }
                else {
                    document.getElementById("favourite").innerHTML = '<i class="ion-heart"></i><span>Added</span>';
                    isAdded = 'True';
                    SuccessAlert('Movie added sucessfully')
                }
            }
        }
        xhr.open("POST", "/Movies/AddToFavourite?movieId=@Model.Id", true);
        xhr.send();
    }

    function FailedAlert(msg) {
        Swal.fire(
            'Error!',
            msg,
            'error'
        );
    }

    function AddReview() {

        let object = {
            "title": $("#reviewTitleInput").val(),
            "content": $("#reviewContentInput").val(),
            "rating": $("#reviewRatingInput").val(),
            "movieId": '@Model.Id',
        };

        $.ajax({
            type: "POST",
            url: '/Movies/CreateReview',
            data: JSON.stringify(object),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (data) {

                AppendReview(data);
                ClearReviewInput();
            },
            error: function () {
                FailedAlert('Failed');
            }

        })
    }

    function AppendReview(data) {
        let starsString = "";
        for (var i = 1; i <= 10; i++) {
            if (i <= parseInt(data.rating)) {
                starsString += '<i class="ion-android-star"></i> ';
            }
            else {
                starsString += '<i class="ion-android-star last"></i> ';
            }
        }

        let date = Date.parse(data.createdOn);
        let ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(date);
        let mo = new Intl.DateTimeFormat('en', { month: 'long' }).format(date);
        let da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(date);

        let formattedDate = `${da} ${mo} ${ye}`;
        let result = `<div class="mv-user-review-item"> <div class="user-infor"> <img src="data:image/png;base64, ${data.avatar}" style="width:45px;height:45px;" alt=""> <div> <h3>${data.title}</h3> <div class="no-star"> ${starsString} </div><p class="time"> ${formattedDate} by <a href="#"> @User.Identity.Name</a> </p></div></div><p>${data.content}</p></div>`;
        $("#reviewListing").prepend(result);
    }
    function ClearReviewInput() {
        $("#reviewTitleInput").val("");
        $("#reviewContentInput").val("");
        $("#reviewRatingInput").val("0");
    }
</script>
