@using Movys.Web.ViewModels.Movies

@model ListingMoviesViewModel
    
<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1> Most Popular Movies - grid</h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="/">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span> Most Popular</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Found <span>@Model.MoviesCount movies</span> in total</p>
                    <a asp-action="Listing" asp-route-crit="@ViewData["Crit"]" asp-route-pageNumber="@ViewData["CurrentPage"]" class="list"><i class="ion-ios-list-outline "></i></a>
                    <a class="grid"><i class="ion-grid active"></i></a>
                </div>
                <div class="flex-wrap-movielist">
                    @foreach (var movie in Model.Movies)
                    {
                        <div class="movie-item-style-2 movie-item-style-1">
                            <img width="170" height="260" src="@movie.ImageUrl" alt="">
                            <div class="hvr-inner">
                                <a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="mv-item-infor">
                                <h6><a asp-controller="Movies" asp-action="ById" asp-route-id="@movie.Id">@movie.Title</a></h6>
                                <p class="rate"><i class="ion-android-star"></i><span>@movie.Rating</span> /10</p>
                            </div>
                        </div>
                    }
                </div>
                <ul class="pagination">
                    <li class="icon-prev"><a asp-action="Listing" asp-route-crit="@ViewData["Crit"].ToString()" asp-route-pageNumber="@(Model.CurrentPage - 1)"><i class="ion-ios-arrow-left"></i></a></li>
                    @for (int i = 1; i <= Model.PagesCount; i++)
                    {
                        if (Model.CurrentPage == i)
                        {
                            <li class="active"><a asp-action="Listing" asp-route-crit="@ViewData["Crit"].ToString()" asp-route-pageNumber="@i">@i</a></li>
                        }
                        else
                        {
                            <li><a asp-action="Listing" asp-route-crit="@ViewData["Crit"].ToString()" asp-route-pageNumber="@i">@i</a></li>
                        }
                    }
                    <li class="icon-next"><a asp-action="Listing" asp-route-crit="@ViewData["Crit"].ToString()" asp-route-pageNumber="@(Model.CurrentPage + 1)"><i class="ion-ios-arrow-right"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Search for movie</h4>
                        @await Html.PartialAsync("_SearchFormPartial", Model.SearchFormInputModel)
                    </div>
                    <div class="ads">
                        <img src="images/uploads/ads1.png" alt="">
                    </div>
                    <div class="sb-facebook sb-it">
                        <h4 class="sb-title">Find us on Facebook</h4>
                        <iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" height="315" style="width:100%;border:none;overflow:hidden"></iframe>
                    </div>
                    <div class="sb-twitter sb-it">
                        <h4 class="sb-title">Tweet to us</h4>
                        <div class="slick-tw">
                            <div class="tweet item" id="">
                                <!-- Put your twiter id here -->
                            </div>
                            <div class="tweet item" id="">
                                <!-- Put your 2nd twiter account id here -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>